.simple-form {
  width: 100%;
  color: #999;
  line-height: 28.8px;
  background-color: transparent;
  // z-index: 999;
}

.form-group {
  display: inline-block;
  color: #212529;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
  padding-right: 10px;
  width: 100%;
}
.form-control {
  min-height: 40px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  text-transform: capitalize;
  color: #888 !important;
  border: 0px solid transparent;
  border-bottom: 2px solid #a1a5a5;
  border-radius: 0px;
  margin-bottom: 15px;
  padding: 6px 0;
  padding-bottom: 15px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  &:focus {
    background-color: transparent;
    border-color: var(--primary);
    box-shadow: transparent 0px 0px 0px 0rem !important;
    color: #495057;
    outline: none !important;
  }
  &:hover {
    box-shadow: transparent 0px 0px 0px 0px !important;
    outline: none !important;
  }
  &:active {
    border-color: var(--black);
  }
  &:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
  &::placeholder {
    color: #6c757d;
    opacity: 1;
  }
}

/* Mobile:  */
@media (min-width: 576px) and (max-width: 767px) {
  .form-group {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form-group {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .form-group {
    width: 50%;
  }
  .form-group:has(textarea) {
    width: 100%;
  }
}

/* PC: */
@media (min-width: 1200px) {
  .form-group {
    width: 50%;
  }
  .form-group:has(textarea) {
    width: 100%;
  }
}
