.intro-video {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}

.text-white {
  color: var(--white);
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

/* PC: */
@media (min-width: 1200px) {
  .intro-video {
    height: 550px;
  }
}
